* {
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    color: #333333;
}


body {
    background: #F0F0F0;
}

header h1 {
    display: flex;
    margin: 5px;
    margin-left: 18%;
    text-align: right;
    font-family: azo-sans-web, sans-serif;
    font-weight: 1000;   
    font-style: italic;
}

.button-options {
    margin: 5px;
    display: block;
    margin-left: 10%;
}

#add-bookmark {
    background: white;
    background-color: #D3D3D3;
    border-radius: 2px;
}

.bookmark-form-display {
    display: flex;
    width: 40%;
    position: fixed;
    z-index: 2;
    margin: 0;
    margin-left: 30%;
    margin-right: 30%;
    border: 0;
    top: 7%;
    height: 500px;
    background: #F0F0F0;
    border: 1px dotted #B5B9C9;
    border-radius: 3px;
    box-shadow: 0 8px 6px -6px #444444;
}
   

.bookmark-form-display h2 {
    margin: 0;
    margin-top: 5%; 
    font-weight: 800;
    font-family: azo-sans-web, sans-serif;
    font-weight: 1000;   
    font-style: italic;

}

.add-input-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 15px;
}

.add-button-container {
    margin-top: 20px;
}

.add-bookmark-form {
    visibility: hidden;
}

#add-bookmark-cancel, #add-bookmark-submit{
    background-color: white;
    background:#D3D3D3;
}

u1 {
    list-style: none;

}


.bookmark-list-element {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bookmark-element-expand {
    margin-top: 5px;
    font-size: 20px;
    height: 50px;
    width: 80%;
    text-align: left;
    cursor: pointer;
    background: #B5B9C9;
    border-radius: 2px;
}

.bookmark-expanded-view {
    background-color: #CFD7E8;
    border-top: none;
    padding: 5px;
    width: 80%;
    border-radius: 2px;
    font-size: 16px;
}

.bookmark-expanded-view label{
    font-size: 18px;
}
#bookmark-element-delete{
    background-color: white;
    background-color:#D3D3D3;
    
}

.bookmark-element-expand:hover {
    opacity: 0.6;
}

.bookmark-element-expand:after {
    content: '\02795';
    font-size: 10px;
    color: #777;
    float: right;
    margin-left: 5px;
}