* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


body{
    background: #BBC6F2;
}

h1{
    margin: 5px;
    margin-left: 2.5%;
}

.button-options{
   
    margin: 5px;
    margin-left: 2.5%;
}

#add-bookmark{
    background: white;
}

.bookmark-form-display {
    display: flex;
    width: 40%;
    position: fixed;
    z-index: 2;
    margin: 0;
    margin-left: 30%;
    margin-right: 30%;
    top: 7%;
    height: 400px;
    background: white;
    box-shadow: 0 8px 6px -6px black;
    border: 0.5px solid black;
    border-radius: 3px;
}

.bookmark-form-display h2{
    border: 0.5px solid #777;
    padding: 10px;
    margin: 0;
    
}

.add-input-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 15px;
}

.add-button-container{
    margin-top: 20px;
}

.add-bookmark-form{
    visibility: hidden;
}


u1 {
    list-style: none;
    
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.bookmark-list-element{
display: flex;
align-items: center;
flex-direction: column;
}

.bookmark-element-expand{
    margin-top: 5px;
    height: 50px;
    width: 95%;
    text-align: left;
    cursor: pointer;
    background-color: white;
}

.bookmark-expanded-view{
    border: solid 0.5px #777;
    border-top: none;
    padding: 5px;
    width: 95%;
    background: white;
    font-size: 1vw;
}
.bookmark-expanded-view h2{
    font-size: 2vw;
}

.bookmark-element-expand:hover {
    opacity: 0.6;
}

.bookmark-element-expand:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2796";
  }